<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Analytics Dashboard</title>
</head>
<body>
    <h1>{{ message }}</h1>


    <h2>Tweets on Map</h2>
    <iframe
        src="http://localhost:5601/goto/33110b90-ca0f-11ef-9b22-2331ba214a04"
        width="100%"
        height="600"
        frameborder="0">
    </iframe>

    <h2>Sentiment Analysis</h2>
    <iframe
        src="http://localhost:5601/goto/7eae5850-ca0f-11ef-9b22-2331ba214a04"
        width="100%"
        height="600"
        frameborder="0">
    </iframe>

    <h2>Hashtag Trends</h2>
    <iframe
        src="http://localhost:5601/goto/ba9371c0-ca0f-11ef-9b22-2331ba214a04"
        width="100%"
        height="600"
        frameborder="0">
    </iframe>

    <h2>Hashtag Word Cloud</h2>
    <iframe
        src="http://localhost:5601/goto/0374abc0-ca10-11ef-9b22-2331ba214a04"
        width="100%"
        height="600"
        frameborder="0">
    </iframe>
    <h2>Hourly Trend Diagram</h2>
    <iframe
        src="http://localhost:5601/goto/7d2e7cd0-ca14-11ef-9b22-2331ba214a04"
        width="100%"
        height="600"
        frameborder="0">
    </iframe>


</body>
</html>